# The directory Mix will write compiled artifacts to.
/_build/

# The directory that Griffin creates to store the rendered site.
# TODO: We should ignore this directory and allow for the building of this to a GitHub action.
# For now, we will do this manually and push the changes to this built directory
# TODO: /_site/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
mixtape_static-*.tar

# Temporary files, for example, from tests.
/tmp/
