<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="./assets/images/favicon.ico">
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
    <div class="mx-auto max-w-7xl sm:p-6 lg:px-8">
      <main class="flex flex-col items-center justify-between">
        <%= @content %>

        <%= @partials.building_in_open %>
      </main>

      <%= @partials.footer %>
    </div>
  </body>
</html>
