<hr class="thick" />

<div class="flex flex-col justify-center items-center">
  <h3 class="text-4xl lg:text-6xl lowercase">Building in the open</h3>

  <p class="text-gray-800">
    Come watch the art get made, and we'll get f**ked up in the process ⤵
  </p>
</div>

<div class="p-4 lg:p-8">
  <%= @youtube.("jus0jbZfMqo") %>
</div>
