<hr class="thick" />

<div class="flex flex-col items-center">
  <h3 class="text-4xl lg:text-6xl lowercase">Building in the open</h3>

  <p class="mx-8 text-gray-800">
    Come watch the art get made, and we'll get f**ked up in the process ⤵
  </p>
</div>

<div class="py-4 lg:py-8">
  <%= @youtube.("39jQulZKlZs") %>
</div>
